<div id="wrap">

	<ul id="nav">
		
		<li class="p1 down topLevel">Tubular Buffs 

			<ul>
				<li><%= link_to "Original",{ :controller => 'collections', :action => 'original' } %></li>
				<li><%= link_to "Original Mossy Oak",{ :controller => 'collections', :action => 'original_mossy_oak' } %></li>
				<li><%= link_to "Original Nat Geo",{ :controller => 'collections', :action => 'original_national_geographic' } %></li>
				<li><%= link_to "Polar",{ :controller => 'collections', :action => 'polar' } %></li>
				<li><%= link_to "Polar Mossy Oak",{ :controller => 'collections', :action => 'polar_mossy_oak' } %></li>
				<li><%= link_to "Polar Reversible",{ :controller => 'collections', :action => 'polar_reversible' } %></li>
				<li><%= link_to "Junior",{ :controller => 'collections', :action => 'junior' } %></li>
				<li><%= link_to "Junior Polar",{ :controller => 'collections', :action => 'junior_polar' } %></li>
				<li><%= link_to "UV",{ :controller => 'collections', :action => 'uv' } %></li>
				<li><%= link_to "UV w/insect shield",{ :controller => 'collections', :action => 'uv_with_insect_shield' } %></li>
				<li><%= link_to "Wool",{ :controller => 'collections', :action => 'wool' } %></li>
				<li><%= link_to "Cyclone",{ :controller => 'collections', :action => 'cyclone' } %></li>
				<li><%= link_to "Dog",{ :controller => 'collections', :action => 'dog' } %></li>
			</ul>

		</li> <!-- end Tubular Buffs --> 
		
		<li class="p1 down topLevel">Headbands 
			<ul>
				
				<li><%= link_to "Regular",{ :controller => 'collections', :action => 'regular' } %></li>
				<li><%= link_to "Seamless",{:controller => 'collections', :action => 'seamless' } %></li>
			</ul>
		</li>
		<li class="p1 down topLevel">Scarves 
			<ul>
				
				<li><%= link_to "Cotton",{ :controller => 'collections', :action => 'cotton' } %></li>
				<li><%= link_to "Linen", { :controller => 'collections', :action => 'linen'  } %></li>
				<li><%= link_to "Rhombus", { :controller => 'collections', :action => 'rhombus'  } %></li>
				<li><%= link_to "Viscose", { :controller => 'collections', :action => 'viscose'  } %></li>
			</ul>
		</li>
		<li class="p1 down topLevel">Gloves 
			<ul>
				
				<li><%= link_to "Angler",{ :controller => 'collections', :action => 'angler' } %></li>
				<li><%= link_to "Fighting",{:controller => 'collections', :action => 'fighting' } %></li>
				<li><%= link_to "Water", { :controller => 'collections', :action => 'water_sports'  } %></li>
			</ul>
		</li>


		<li class="p1 down topLevel topLevelFirst">How to Wear
			<ul>
				<li><%= link_to "What's a Buff?", { :controller => 'wear', :action => 'whats_a_buff' } %></li>
				<li><%= link_to "Watch a Video", { :controller => 'wear', :action => 'how_to_wear_a_buff_video' } %></li>
				<li><%= link_to "Ways to Wear", { :controller => 'wear', :action => 'how_to_wear_a_buff' } %></li>
				
			</ul>
		</li>
				
		<li class="p1 down topLevel">Company
			<ul>
				<li><%= link_to "History", { :controller => 'company', :action => 'history' } %></li>
				<li><%= link_to "News", { :controller => 'company', :action => 'news' } %></li>
				<li><%= link_to "Athletes & Sponsorships", { :controller => 'company', :action => 'athletes' } %></li>
				<li class="p2 down topLevel">Customer Service
					<ul>
						<li><%= link_to "FAQs",{ :controller => 'company', :action => 'faqs' } %></li>
						<li><%= link_to "Shipping",{ :controller => 'company', :action => 'shipping' } %></li>
						<li><%= link_to "Returns",{ :controller => 'company', :action => 'returns' } %></li>
						<li><%= link_to "Pro Purchase",{ :controller => 'company', :action => 'pro_purchase' } %></li>
						<li><%= link_to "Contact Us",{ :controller => 'company', :action => 'contact_us' } %></li>
					</ul>
				<li><%= link_to "Careers", { :controller => 'company', :action => 'careers' } %></li>
			</ul>
		</li>

	</ul>

</div><!-- end of div 'wrap' -->