!--  —————————————————————————————————————————————————————————————————————
			Controller: Home
			Action:     index				
			——————————————————————————————————————————————————————————————————————

		  Doc:	home page alternative 1: migrated from sites/trumedical/wpp_index.html
				 				
			Known Bugs/fixes 
					1. If you start at the home page and click to clinicians, it works. However, if you go from the home page to clinicians and then back to the home page by clicking the logoMark in the upper left corner of the clinicians page, and then try to follow the link from the home page to the patients page you get a Routing Error:  No routes matches "/home/patients/show".  WHY? 
					2. alignment of share this in footer: had it fixed; what did I change now? 
					3. when fixed this, that also fixed shop-Now banner/button above it. 
			  page-specific css:
					1. refactor this; stuff that applies to all pages, move into tm1_base.css
				header:
					1. Tru Medical logo: take from Mandy's png
					2. make logomark clickable: returns user to home page
					3. Complete header on the right: move SHOP NOW button up here
				footer
					1. 
-->

<!-- header includes  ————————————————————————————————————————————————————  -->

<%= content_for(:page_title) do %>
	<title>Tru Medical</title>
<% end %>

<%= content_for(:controller_specific_css_files) do %>
	<%= stylesheet_link_tag "style.css" %>
<% end %>

<%= content_for(:controller_specific_js_files) do %>
	<%= javascript_include_tag "jquery.bgpos.js" %>			
<% end %>

<%= content_for(:controller_specific_jQuery_document_ready ) do %>

	<script type="text/javascript">
		$(document).ready(function(){

			$("button", "#newsletter").button();

			$("area").click(function(){
				alert("Alert: Page not implemented in prototype.");
				});
		});	
	</script>
	
<% end %> 


<%= content_for(:page_specific_style_declarations) do %> 

	<style type="text/css">	
		 *{
          margin:0;
          padding:0;
      }
      body{
          font-family:Arial;
          padding-top:10px;     /* NOTE: THIS IS USED ON THE HOME PAGE */
          background_color: white;
      }
      a.back{
          background-color:#CCCCFF;
          position:absolute;
          width:150px;
          height:27px;
          outline:none;
          top:2px;
          right:0px;
      }
      .reference{
          margin:20px auto;
          width:600px;
          padding:20px;
      }
      .reference p a{
          text-transform:uppercase;
          text-shadow:1px 1px 1px #fff;
          color:#666;
          text-decoration:none;
          font-size:10px;

      }
      .reference p a:hover{
          color:#333;
      }

			#header {position:relative; margin-left:80px; height:100px;}
			#logoMark { position:absolute; top:0px; left:0px;}
			
			button#add_to_cart_button{ 
					width:85px;
					padding:4px 2px 4px 2px;
					font-size:11px;
					font-weight:bold;
					line-height: 15px;
					margin-top:20px;
					margin-left:0px;
					text-align:center;
					font-family: inherit;
					color: white;

					background-color: orange; 
					border:none;
					border-radius: 2px;
					-moz-border-radius: 2px;
					-webkit-border-radius: 2px;
				}
			
			div#shopNowTop{
				position:absolute;
				top:10px;
				right:40px;
				min-height:100px;
				width:120px;
				background-color:#FFFF99; /* TruMedical blue:#0094DE */
				border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				
				box-shadow: 5px 5px 5px gray;
				-moz-box-shadow: 5px 5px 5px gray;
				-webkit-box-shadow: 5px 5px 5px gray;
				}
				#shopNowTop p {font-size:20px; color:gray; font-weight: bold; padding: 30px 10px 30px 30px }

			div#shopNow{
				display:none;
				min-height:100px;
				width:120px;
				background-color: blue;
				margin-left:720px;
				border:solid medium red;
				border-radius: 4px;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				}
				#shopNow p {font-size:20px; color:white; font-weight:bold; padding: 30px 10px 30px 30px }

			div#banner { position: relative;
				min-height:100px;
				margin-left:-10px;
				width:890px;
				margin-bottom:40px;
				background: -moz-linear-gradient(left, #FFFFFF 25%, #D8DFE6 100%); /* firefox */
				background: -webkit-gradient(linear, left top, right top, color-stop(25%,#FFFFFF), color-stop(100%,#D8DFE6)); /* safari */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#D8DFE6',GradientType=1 ); /* ie */
			}	
	</style>
	
<% end %>	

  
   
<!-- #middleBand   ————————————————————————————————————————————————————————————— -->
   
<%= content_for(:middleBand) do %> 

	<!-- main widget   ——————————————————————————————————————————————————————————— -->
	
	<div id="menuWrapper" class="menuWrapper bg1">
		<ul class="menu" id="menu">
			<li class="bg1" style="background-position:0 0;">
				<a id="bg1" href="patients/show">Patients/Caregivers</a>
				<ul class="sub1" style="background-position:0 0;">
					<li><a href="patients/show">Conditions</a></li>
					<li><a href="patients/show">Products</a></li>
					<li><a href="patients/show">Success Stories</a></li>
				</ul>
			</li>
			<li class="bg1" style="background-position:-266px 0px;">
				<a id="bg2" href="clinicians/show">Clinicians</a>
				<ul class="sub2" style="background-position:-266px 0;">
					<li><a href="#">Subtopic 4</a></li>
					<li><a href="#">Subtopic 5</a></li>
					<li><a href="#">Subtopic 6</a></li>
				</ul>
			</li>
			<li class="last bg1" style="background-position:-532px 0px;">
				<a id="bg3" href="payors/show">Payors</a>
				<ul class="sub3" style="background-position:-266px 0;">
					<li><a href="#">Subtopic 7</a></li>
					<li><a href="#">Subtopic 8</a></li>
					<li><a href="#">Subtopic 9</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<!-- 'Shop Now!' banner (below widget: set to display: none)  —————————————— 
		A replacement button is now above the widget.  Oddly, it is in the
		layout file for the home page, home.html.erb, while the css for styling
		it (class showNowTop ) is still in this file. Put them in one place or
		the other.
	-->

	<div id="banner">
		<div id="shopNow">
			<p>Shop Now!</p>
		</div>
	</div>


<% end %>

<%= content_for(:js_before_close_of_body) do %>
	<script type="text/javascript">
          $(function() {
              /* position of the <li> that is currently shown */
              var current = 0;

			var loaded  = 0;
			for(var i = 1; i <4; ++i)
				$('<img />').load(function(){
					++loaded;
					if(loaded == 3){
						$('#bg1,#bg2,#bg3').mouseover(function(e){

							var $this = $(this);
							/* if we hover the current one, then don't do anything */
							if($this.parent().index() == current)
								return;

							/* item is bg1 or bg2 or bg3, depending where we are hovering */
							var item = e.target.id;

							/*
							this is the sub menu overlay. Let's hide the current one
							if we hover the first <li> or if we come from the last one,
							then the overlay should move left -> right,
							otherwise right->left
							 */
							if(item == 'bg1' || current == 2)
								$('#menu .sub'+parseInt(current+1)).stop().animate({backgroundPosition:"(-266px 0)"},300,function(){
									$(this).find('li').hide();
								});
							else
								$('#menu .sub'+parseInt(current+1)).stop().animate({backgroundPosition:"(266px 0)"},300,function(){
									$(this).find('li').hide();
								});

							if(item == 'bg1' || current == 2){
								/* if we hover the first <li> or if we come from the last one, then the images should move left -> right */
								$('#menu > li').animate({backgroundPosition:"(-800px 0)"},0).removeClass('bg1 bg2 bg3').addClass(item);
								move(1,item);
							}
							else{
								/* if we hover the first <li> or if we come from the last one, then the images should move right -> left */
								$('#menu > li').animate({backgroundPosition:"(800px 0)"},0).removeClass('bg1 bg2 bg3').addClass(item);
								move(0,item);
							}

							/*
							We want that if we go from the first one to the last one (without hovering the middle one),
							or from the last one to the first one, the middle menu's overlay should also slide, either
							from left to right or right to left.
							 */
							if(current == 2 && item == 'bg1'){
								$('#menu .sub'+parseInt(current)).stop().animate({backgroundPosition:"(-266px 0)"},300);
							}
							if(current == 0 && item == 'bg3'){
								$('#menu .sub'+parseInt(current+2)).stop().animate({backgroundPosition:"(266px 0)"},300);
							}


							/* change the current element */
							current = $this.parent().index();

							/* let's make the overlay of the current one appear */

							$('#menu .sub'+parseInt(current+1)).stop().animate({backgroundPosition:"(0 0)"},300,function(){
								$(this).find('li').fadeIn();
							});
						});
					}	
				}).attr('src', '/images/'+i+'.jpg');


              /*
              dir:1 - move left->right
              dir:0 - move right->left
               */
              function move(dir,item){
                  if(dir){
                      $('#bg1').parent().stop().animate({backgroundPosition:"(0 0)"},200);
                      $('#bg2').parent().stop().animate({backgroundPosition:"(-266px 0)"},300);
                      $('#bg3').parent().stop().animate({backgroundPosition:"(-532px 0)"},400,function(){
                          $('#menuWrapper').removeClass('bg1 bg2 bg3').addClass(item);
                      });
                  }
                  else{
                      $('#bg1').parent().stop().animate({backgroundPosition:"(0 0)"},400,function(){
                          $('#menuWrapper').removeClass('bg1 bg2 bg3').addClass(item);
                      });
                      $('#bg2').parent().stop().animate({backgroundPosition:"(-266px 0)"},300);
                      $('#bg3').parent().stop().animate({backgroundPosition:"(-532px 0)"},200);
                  }
              }
          });
      </script>
<% end %>