<h1>Company#about</h1>
<p>Find me in app/views/company/about.html.erb</p>
<!--  —————————————————————————————————————————————————————————————————————
			Controller: Company
			Action:     about  
			——————————————————————————————————————————————————————————————————————

			problems:
				1. so long that it overruns footer; have it push footer down. 

-->

<!-- header includes  ————————————————————————————————————————————————————  -->

<% content_for (:controller_specific_css_files) do %>
	<%= stylesheet_link_tag "leftNav.css" %>
	<%= stylesheet_link_tag "category.css" %>
	<link rel="Stylesheet" type="text/css" href="../stylesheets/smoothDivScroll.css" />

<% end %>

<% content_for (:controller_specific_js_files) do %>

	<!-- <%= javascript_include_tag "jquery.tools.min.js" %> -->
	<!-- replace with reference to jquery-ui on Google CDN -->
	<!-- <script src="http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js"></script> -->
	<script type="text/javascript" src="../javascripts/jquery.smoothdivscroll.js" ></script>
	<script type="text/javascript" src="../javascripts/jquery.leftNav.js"></script>
	
<% end %>

<% content_for (:controller_specific_jQuery_document_ready ) do %>

	<script type="text/javascript">
		$(document).ready(function(){
			/* $(".scrollable").scrollable(); // initialize jquery tools 'scrollable'; consider if have cross browser problems with smoothDivSchroll */
			$("div#makeMeScrollable").smoothDivScroll({
			});
		});	
	</script>
	
<% end %> 

<% content_for (:page_specific_style_declarations) do %> 
<% end %>	


<!-- leftNav ———————————————————————————————————————————————————————————————— -->
	
<% content_for (:leftNav) do %>
	<!-- 
		render :partial => 'shared/leftnav' include left nav from a partial template since it is the same in category and item templates
	-->
<% end %> 
   
   
<!-- #main   ———————————————————————————————————————————————————————————————— -->
   
<% content_for (:main) do %>  
   
	<!-- left  ——————————————————————————————————————————————————————— -->
	  
	<div id="left">
		<%= image_tag "patients/patients_photo_2.jpg" %>
 	</div>
         
  <!-- centerRight  ————————————————————————————————————————————————————— -->
     
  <div id="center_right" style="z-index:7;">
		
		<div id="center_right_content">
			<h1>Frequently Asked Questions</h1>
			<h1>FAQs</h1>
						<p>Our Frequently Asked Questions are constantly evolving, so if your question(s) are not addressed here, please <%= link_to "contact us", { :controller => 'company', :action => 'contact' } %>. We look forward to the opportunity to serve you!</p>

				<h2>PRODUCTS:</h2>

				<h3>Question 1</h3>
				<p>	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non bibendum ipsum. Phasellus posuere, diam vel tempor mattis, ligula dolor blandit erat, id sollicitudin elit massa eu enim. Phasellus vitae ligula quis dui faucibus iaculis. Vivamus et massa diam. Donec aliquet tellus vel lacus iaculis hendrerit. Donec a massa in nunc dapibus posuere. Aliquam et sapien eu risus tristique vestibulum. Morbi vestibulum sollicitudin pellentesque. In ac metus at risus bibendum vulputate ut eget leo. Donec elit diam, interdum vel volutpat sit amet, tempus in turpis.</p>

				<h3>Question 2</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non bibendum ipsum. Phasellus posuere, diam vel tempor mattis, ligula dolor blandit erat, id sollicitudin elit massa eu enim.
				</p>
				<h3>Question 3</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non bibendum ipsum. Phasellus posuere, diam vel tempor mattis, ligula dolor blandit erat, id sollicitudin elit massa eu enim. Phasellus vitae ligula quis dui faucibus iaculis.
		</p>
				<h3>Question n?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non bibendum ipsum. Phasellus posuere, diam vel tempor mattis, ligula dolor blandit erat, id sollicitudin elit massa eu enim. Phasellus vitae ligula quis dui faucibus iaculis.
				</p>
				
				<h2>ORDERING:</h2>

				<h3>Do you ship to P.O. boxes and military APO/FPO addresses?</h3>
				<p>We cannot ship to P.O. boxes due to our carrier being FedEx. As long as military addresses accept Fedex shipments, we can ship there.</p>

				<h3>What happens when I have a back-ordered item?</h3>
				<p>Our online store will not allow you to purchase an out-of-stock item.  If you would like to know approximate availability of that item, please contact <%= link_to "Customer Service", { :controller => 'company', :action => 'contact' } %>.</p>

				<h3>Which credits cards do you accept online?</h3>
				<p>Visa, Mastercard, American Express</p>

				<h3>Is sales tax assessed to my order?</h3>
				<p>Yes, you will see amount assessed for sales tax when you go to checkout at our online store.</p>

				<h3>Do you ship internationally?</h3>
				<p>Tru-Medical, Inc. does not ship internationally. </p>

				<h2>SUPPORT:</h2>

				<h3>Does Tru-Medical, Inc. have a catalog?</h3>
				<p>Yes, you can access our catalogs and brochures from our <%= link_to "Downloads page", { :controller => 'company', :action => 'downloads' } %>. Tru-Medical, Inc. has catalogs for the following: </p>

				<h3>Where can I find more details on Home Services</h3>
				<p>Please <%= link_to "contact us", { :controller => 'company', :action => 'contact' } %> for information pertaining to this program.</p>

				<h3>What Warrantee does TruMedical offer?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non bibendum ipsum. Phasellus posuere, diam vel tempor mattis, ligula dolor blandit erat, id sollicitudin elit massa eu eni.</p>
				<p> Please visit <%= link_to "Returns", { :controller => 'company', :action => 'returns' } %> for more information.</p>


		</div> <!-- end div 'center_right_content' -->
  </div><!-- end div 'center_right' -->
 


<% end %>