<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tms_part_number %><br />
    <%= f.text_field :tms_part_number %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :features %><br />
    <%= f.text_field :features %>
  </div>
  <div class="field">
    <%= f.label :options %><br />
    <%= f.text_field :options %>
  </div>
  <div class="field">
    <%= f.label :retail_price %><br />
    <%= f.text_field :retail_price %>
  </div>
  <div class="field">
    <%= f.label :web_price %><br />
    <%= f.text_field :web_price %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :vendor %><br />
    <%= f.text_field :vendor %>
  </div>
  <div class="field">
    <%= f.label :vendor_sku %><br />
    <%= f.text_field :vendor_sku %>
  </div>
  <div class="field">
    <%= f.label :sammons_category %><br />
    <%= f.text_field :sammons_category %>
  </div>
  <div class="field">
    <%= f.label :sammons_part_number %><br />
    <%= f.text_field :sammons_part_number %>
  </div>
  <div class="field">
    <%= f.label :sold_in_units %><br />
    <%= f.text_field :sold_in_units %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
