<!DOCTYPE HTML>
<html>
<head>
	<!--  —————————————————————————————————————————————————————————————————————
	
	Layout: application.html.erb

	Doc:		layout template applied to all files in the system
					(Actually not all, most use static_page_layout.html.erb
					If you make changes to application.html.erb check to see 
					if you should make the same changes to static_page_layout ) 

	——————————————————————————————————————————————————————————————————————

	ToDo:
		1. contains as-yet-unused divs for pop-up windows/displays
			 for non-Netsuite register/login, cart/checkout
		2. remove header buttons: not in Application, in Shopping layout

	Known Bugs:	
		1. footer not formatting correctly: pick up code from layouts/home
		2. center section 2 px too narrow: not full 800

	-->

  <title>TruMedical</title>
	<%= stylesheet_link_tag "custom-theme/jquery-ui-1.8.10.custom.css" %>
	<%= stylesheet_link_tag "trumedical_base.css" %>

	
	<%= yield :controller_specific_css_files %>

	<!--  csrf_meta_tag %> -->
	
	<%= javascript_include_tag "jquery-1.4.4.min","jquery-ui-1.8.10.custom.min" %>
	<!--
	<script type="text/javascript" src="../javascripts/jquery-1.4.4.min.js" />
	<script type="text/javascript" src="../javascripts/jquery-ui-1.8.10.custom.min.js" />
	<script type="text/javascript" src="../javascripts/rails.js" /> 
-->
	<%= yield :controller_specific_js_files %>
	
	<script type="text/javascript">

		$(document).ready(function(){
			
			$("a[href='#']").click(function(){
				alert("Oops. Uncaught as-yet-unimplemented link ");
				return false;
			});
			$("a[href='#url']").click(function(){
				alert("As-yet-unimplemented link.");
				return false;
			});
			$("a[href='#Netsuite']").click(function(){
				alert("This link will take you to one of the pages implemented in Netsuite's secure server.");
				return false;
			});

		});

	</script>
	
	<%=  yield :controller_specific_jQuery_document_ready %>  
	
	<%=  yield :page_specific_style_declarations %> 

</head>
<body>
	
	<div id="wrapper_outer">
		<div id="leftNav">
			<%= yield :leftNav %> 
		</div>
		
		<div id="wrapper_inner">
		
			<!-- header ————————————————————————————————————————————————————————————————— -->
			<div id="header">

				<div id="logoMark">
					<%= link_to image_tag("/images/header/logoMark_400x100.jpg"), :controller => 'home', :action => 'index' %>
				</div> 
				<div id="headerButtons"></div>
				<div id="headerLinks"></div>
				
			</div> <!-- end 'header' -->
                         
			<!-- main  —————————————————————————————————————————————————————————————————— -->
			<div id="main">
				<%= yield :main %>
			</div>
			
			<!-- ————— divs for pop-up windows —————————————————————————————————————————— -->

			<div id="newsletterPopUp" ></div>
			<div id="register"></div>
			<div id="login"></div>
			<div id="shopping_cart"></div>
			           
			<!-- footer     ————————————————————————————————————————————————————————————— -->
			
			<div id="footer">
				<ul>
					<!--
					<li style="display:inline;">
						<div class="addthis_toolbox addthis_default_style" style="margin-left:150px; font-size:12px;" >
							<a class="addthis_button_facebook"></a>
							<a class="addthis_button_twitter"></a>
							<a class="addthis_button_email"></a>
							<span class="addthis_separator">Share&nbsp;&nbsp;&nbsp;|</span>
						</div>
					</li>
					-->
					<li><a href="#">Company&nbsp;&nbsp;&nbsp;|</a></li>
					<li><a href="#">Contact&nbsp;&nbsp;&nbsp;|</a></li>
					<li><a href="#">News&nbsp;&nbsp;&nbsp;|</a></li>
					<li><a href="#">FAQs&nbsp;&nbsp;&nbsp;|</a></li>
					<li><a href="#">Home Services&nbsp;&nbsp;&nbsp;|</a></li>
					<li><a href="#">Site Map&nbsp;&nbsp;&nbsp;</a></li>
					<li style="font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy;Tru-Medical Solutions LLC</li>
        		</ul>
          
			</div> <!-- end of div 'footer' -->
			
            
		</div><!-- end of wrapper_inner -->
	</div><!-- end of wrapper_outer -->
	
	
	<%= yield :js_before_close_of_body %> 

</body>
</html>

